@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#trending_heading{
  color: coral;
  font-size: 80px;
  font-family: 'Staatliches',sans-serif;
  margin: 20px 0px 100px 0px;
  text-align: center;
}

#trending_grid{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 50px;
  row-gap: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#anime_info{
  display: flex;
  flex-direction: column;
}

#anime_info h1{
  font-size: 32px;
  font-family: 'Staatliches',sans-serif;
  text-align: center;
}

#anime_info h2{
  margin: 0;
  text-align: center;
}

#anime_list{
  background-color: rgb(97, 97, 97);
  padding: 30px;
}

#anime_list #main_heading{
  color: coral;
  font-size: 80px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
  font-family: 'Staatliches',sans-serif;
}

#animeData h1{
  color: white;
  font-family: 'Staatliches',sans-serif;
  letter-spacing: 2px;
  text-decoration: 10px underline red;
}

#animeData p{
  color: rgb(199, 199, 199);
  font-size: 25px;
  font-family: 'Redressed',sans-serif;
  text-align: justify;
}

#flexing_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#flexing_col{
  margin: 30px;
}

#flexing_col #read_more_button{
  width: 15%;
  border: 3px solid white;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgb(97, 97, 97);
  transform: scale(0.97);
  transition: box-shadow 1s cubic-bezier(.76,.01,.22,.86),transform 0.5s cubic-bezier(.76,.01,.22,.86);
}

#flexing_col #read_more_button:hover{
  transform: scale(1);
  box-shadow: 0px 5px 5px 7px rgba(60, 60, 60, 0.544);
}

#read_more_button h2{
  color: coral;
}

#page_links{
  color: coral;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#next_page{
  margin-left: 40px;
}

#prev_page{
  margin-right: 40px;
}

#next_page, #prev_page{
  transition: transform 0.3s ease-in-out;
}

#next_page:hover{
  transform: translate(10px,0);
}

#prev_page:hover{
  transform: translate(-10px,0);
}

#cover_image:focus{
  transform: scale(2);
}

#start_page h1{
  font-family: 'Staatliches',sans-serif;
  letter-spacing: 2px;
}

#anime_search{
  padding: 80px;
  display: flex;
  align-items: center;
}

#search_bar{
  flex: 1;
  margin: 20px;
  padding: 30px;
  font-size: 25px;
  text-align: center;
  color: coral;
  font-family: 'Anton';
  box-shadow: 0px 0px 10px -10px rgba(43, 43, 43, 0.694);
  opacity: 0.7;
  transform: scale(0.991);
  transition: transform 0.4s ease-in-out,box-shadow 0.5s ease-in-out;
}

#search_bar:focus{
  transform: scale(1);
  box-shadow: 0px 30px 10px -10px rgba(43, 43, 43, 0.694);
}

#anime_search h1{
  background-color: #FFF4EA;
  flex: 0.2;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  transform: scale(0.9);
  color:  #0096D1;
  transition: background-color 0.6s ease-in-out, color 0.5s ease-in-out,transform 0.5s ease-in-out;
}

#anime_search h1:hover{
  color:  #FFF4EA;
  transform: scale(0.95);
  background-color: #0096D1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
