@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
  margin: 0;
}


#trending_heading{
  color: coral;
  font-size: 80px;
  font-family: 'Staatliches',sans-serif;
  margin: 20px 0px 100px 0px;
  text-align: center;
}

#trending_grid{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 50px;
  row-gap: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#anime_info{
  display: flex;
  flex-direction: column;
}

#anime_info h1{
  font-size: 32px;
  font-family: 'Staatliches',sans-serif;
  text-align: center;
}

#anime_info h2{
  margin: 0;
  text-align: center;
}

#anime_list{
  background-color: rgb(97, 97, 97);
  padding: 30px;
}

#anime_list #main_heading{
  color: coral;
  font-size: 80px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
  font-family: 'Staatliches',sans-serif;
}

#animeData{
  margin: 50px 0px 100px 0px;
}

#animeData h1{
  color: white;
  font-family: 'Staatliches',sans-serif;
  letter-spacing: 2px;
  text-decoration: 10px underline red;
}

#animeData p{
  color: rgb(199, 199, 199);
  font-size: 25px;
  font-family: 'Redressed',sans-serif;
  text-align: justify;
}

#flexing_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  max-height: fit-content;
  box-shadow: 0px 0px 0px 0px rgb(82, 82, 82);
  transition: transform 0.3s ease-in-out,box-shadow 0.4s ease-in-out;
}

#flexing_row h1{
  pointer-events: none;
}

#overlay_sheet{
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: coral;
  transition: height 0.6s ease-in-out;
}

#overlay_sheet.open_overlay{
  height: 50%;
}

#flexing_row.open{
  transform: scale(1.02);
  box-shadow: 0px 20px 10px -20px rgb(255, 0, 0);
}

#cover_image{
  display: flex;
  justify-content: center;
  align-items: center;
}

#flexing_col{
  padding: 50px;
  flex: 3;
  margin: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#flexing_col p{
  margin: 0;
}

#flexing_col #read_more_button{
  padding: 20px 40px 20px 40px;
  margin-top: 20px;
  width: 15%;
  border: 3px solid white;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgb(97, 97, 97);
  transform: scale(0.97);
  z-index: 1;
  transition: box-shadow 0.5s cubic-bezier(.76,.01,.22,.86),transform 0.5s cubic-bezier(.76,.01,.22,.86);
}

#flexing_col #read_more_button:hover{
  transform: scale(1);
  box-shadow: 0px 30px 10px -20px rgba(60, 60, 60, 0.544);
}

#read_more_button h2{
  color: red;
  margin: 0;
  pointer-events: none;
}

#anime_ratings{
  border: 5px double coral;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#anime_ratings p{
  font-family: 'Staatliches',sans-serif;
  text-align: center;
}

#page_links{
  color: coral;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#next_page{
  margin-left: 40px;
}

#prev_page{
  margin-right: 40px;
}

#next_page, #prev_page{
  transition: transform 0.3s ease-in-out;
}

#next_page:hover{
  transform: translate(10px,0);
}

#prev_page:hover{
  transform: translate(-10px,0);
}

#cover_image:focus{
  transform: scale(2);
}

#start_page h1{
  font-family: 'Staatliches',sans-serif;
  letter-spacing: 2px;
}

#anime_search{
  padding: 80px;
  display: flex;
  align-items: center;
}

#search_bar{
  flex: 1;
  margin: 20px;
  padding: 30px;
  font-size: 25px;
  text-align: center;
  color: coral;
  font-family: 'Anton';
  box-shadow: 0px 0px 10px -10px rgba(43, 43, 43, 0.694);
  opacity: 0.7;
  transform: scale(0.991);
  transition: transform 0.4s ease-in-out,box-shadow 0.5s ease-in-out;
}

#search_bar:focus{
  transform: scale(1);
  box-shadow: 0px 30px 10px -10px rgba(43, 43, 43, 0.694);
}

#anime_search h1{
  background-color: #FFF4EA;
  flex: 0.2;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  transform: scale(0.9);
  color:  #0096D1;
  transition: background-color 0.6s ease-in-out, color 0.5s ease-in-out,transform 0.5s ease-in-out;
}

#anime_search h1:hover{
  color:  #FFF4EA;
  transform: scale(0.95);
  background-color: #0096D1;
}

#loadString{
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: 'Anton';
}

#loader_dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dots{
  width: 30px;
  height: 30px;
  background-color: #0096D1;
  margin: 10px;
  border-radius: 100px;
}

#footer{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
  position: relative;
  bottom: 0;
  color: white;
}

#footer h3{
  margin-bottom: 3px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 400px) and (max-width: 600px){
  #trending_grid{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
  }

  #anime_info h1{
    width: 100%;
    text-align: center;
  }

  #thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #anime_list{
    padding: 0;
  }

  #anime_list #main_heading{
    font-size: 50px;
    margin: 50px 10px 10px 10px;
  }

  #anime_search{
    flex-direction: column;
    padding: 0;
  }

  #anime_search input{
    padding: 10px 20px 10px 20px;
    margin: 10px;
    width: 80%;
  }

  #anime_search h1{
    width: 40%;
    padding: 10px;
    margin: 5px 0px 5px 0px;
  }

  #animeData h1{
    text-align: center;
  }

  #animeData #anime_ratings{
    width: auto;
  }

  #animeData #anime_ratings h1{
    margin: 10px;
  }

  #animeData #anime_ratings p{
    margin: 10px;
  }

  #animeData #flexing_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #flexing_col{
    margin: 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }

  #flexing_col #read_more_button{
    width: 50%;
    padding: 10px;
  }

  #page_links{
    align-items: center;
    font-size: 15px;
    text-align: center;
  }

  #next_page h1,#prev_page h1{
    font-size: 30px;
  }

  #footer h3{
    font-size: 12px;
  }

  #next_page{
    margin-left: 10px;
  }
  
  #prev_page{
    margin-right: 10px;
  }
}